<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature android:name="android.software.companion_device_setup" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlayingReading">
        <activity
            android:name=".Model_Controller.Superheroes.CuentosSuperheroes"
            android:exported="false" />
        <activity
            android:name=".Model_Controller.CienciaFiccion.CuentosCienciaFiccion"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Model_Controller.Aventuras.CuentosAventura"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".Services.BluetoothService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />

        <activity
            android:name=".Model_Controller.Memorama"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Model_Controller.MisterioyDetectives"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Model_Controller.PrincesasyHadas"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Model_Controller.Superheroes.SuperheroesMenu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Model_Controller.CienciaFiccion.CienciaFiccionMenu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Model_Controller.Aventuras.AventuraMenu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Model_Controller.MenuPrincipal"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>